@model BooksStore.Models.Item
<div>
    <p>Id: @Html.DisplayFor(m => m.Id)</p>
    <p>Name: @Html.DisplayFor(m => m.Name)</p>
    <p>Price: @Html.DisplayFor(m => m.Price)</p>
    <p>Type: @Html.DisplayFor(m => m.Type)</p>
    <p>Number: @Html.DisplayFor(m => m.Number)</p>
    

</div>
