@model BooksStore.Models.Item
<div>
    <h3>Id:  @Html.DisplayFor(m => m.Id)</h3>
    <p>Name: @Html.DisplayFor(m => m.Name)</p>
    <p>Price: @Html.DisplayFor(m => m.Price)</p>
    <p>number: @Html.DisplayFor(m => m.Number)</p>
    <p>Type: @Html.DisplayFor(m => m.Type)</p>

</div>
