@model BooksStore.Models.Journal
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(model => model.Name)
            <p>@Html.EditorFor(model => model.Name)</p>
        </div>

        <div>
            @Html.LabelFor(model => model.Author)
            <p>@Html.EditorFor(model => model.Author)</p>
        </div>

        <div>
            @Html.LabelFor(model => model.Price)
            <p>@Html.EditorFor(model => model.Price)</p>
        </div>
        
        <p><input type="submit" value="Добавить" /></p>
    }
</div>


